@model PBL3.Models.ActivateAccountModel

@{
    ViewBag.Title = "ActivateAccount";
}
<p id="notification"></p>
@using (Html.BeginForm("ActivateAccount", "User", FormMethod.Post))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Key" class="form-control"/>
            @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xác nhận" class="btn btn-default" />
        </div>
    </div>
</div>
}
<button class="btn btn-primary" id="btnActive">
    Gửi lại mã
</button>

@section scripts
{
    <script>
        $("#btnActive").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendActiveKey")',
                data: '{userID: ' + JSON.stringify(@Model.userID) + ', userEmail:' + JSON.stringify('@Model.userEmail') + ' }',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    document.querySelector("#notification").innerText = data.message;
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    </script>

}