@using Models.DTO
@model List<Order>
@{
    ViewBag.Title = "Orders";
    List<State> states = ViewBag.States as List<State>;
}
@section Styles{
    <link rel="stylesheet" href="~/public/css/FeedBack.css">
    <style>
        .order-header:hover {
            color: #dc3545 !important;
        }
    </style>
}
<div class="row m-auto rounded" style="width: 73.7em">
    <div class="col-12 rounded">
        <div class="col-12 d-flex justify-content-between">
            @using (Html.BeginForm("Orders", "User", FormMethod.Get, new { @class = "col-12 d-flex justify-content-between" }))
            {
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example" name="stateID">
                        <option selected value="0">Trạng thái đơn hàng</option>
                        @foreach (State state in states)
                        {
                            <option value="@state.ID">@state.Name</option>
                        }
                    </select>
                </div>
                <div class="col-4 d-flex">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" name="keyword">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            }
        </div>
        @if (Model != null && Model.Count > 0)
        {
            foreach (Order order in Model)
            {
                <div class="bg-white p-3 shadow rounded mt-3">
                    <a class="col-12 d-flex justify-content-between text-decoration-none text-dark order-header" href="@Url.Action("Index", "Order", new { id = order.ID })">
                        <h6 class="p-0 m-0 fw-bold">ID đơn hàng: @order.ID</h6>
                        <p class="p-0 m-0 fw-bold">@order.StateOrder.Last().State.Name</p>
                    </a>
                    <hr>
                    @foreach (ProductOrder productOrder in order.ProductOrder)
                    {
                        <div class="col-12 d-flex">
                            <div class="col-1 border" style="height: 10vh">
                                <img src="@productOrder.Product.Image" alt="" style="width: 100%;height: 100%;object-fit:cover">
                            </div>
                            <div class="col-11 d-flex justify-content-between">
                                <div class="ms-3">
                                    <a class="p-0 m-0 fw-bold text-decoration-none text-dark" href="@Url.Action("Index", "Product", new { id = productOrder.ProductID })">@productOrder.Product.Name</a>
                                    <p class="p-0 m-0 text-muted">Số lượng: @productOrder.Quantity</p>
                                </div>
                                <div class="d-flex flex-column justify-content-between">
                                    <p class="p-0 m-0 text-danger fw-bold text-end">@String.Format("{0:0,0}", productOrder.Price) đ</p>
                                    @if (order.isReceived)
                                    {
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Đánh giá</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="container mt-4 shadow-lg"></div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-10" style="margin: 10px;">
                                                                <h5>
                                                                    <button type="button" class="btn btn-outline-light text-black"
                                                                            data-bs-dismiss="modal">
                                                                        <i class="fa-solid fa-arrow-left-long"></i>
                                                                    </button>
                                                                    Đánh giá sản phẩm
                                                                </h5>
                                                            </div>
                                                            <hr>
                                                            <form>
                                                                <div class="row">
                                                                    <div class="form-group col-md-2">
                                                                        <img src="images/img.jpg" class="" style="padding-left:10px" alt="" width="100px">
                                                                    </div>
                                                                    <div class="form-group col-md-10">
                                                                        <h2>Tên sản phẩm</h2>
                                                                        <p>Phân loại hàng</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="rating col-md-8">
                                                                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5"
                                                                                                                                        title="Meh">
                                                                            5
                                                                            stars
                                                                        </label>
                                                                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4"
                                                                                                                                        title="Kinda bad">4 stars</label>
                                                                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3"
                                                                                                                                        title="Kinda bad">3 stars</label>
                                                                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"
                                                                                                                                        title="Sucks big tim">2 stars</label>
                                                                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1"
                                                                                                                                        title="Sucks big time">1 star</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="content">Nhận xét</label>
                                                                    <textarea class="form-control" id="content" rows="3"
                                                                              placeholder="Hãy chia sẻ những điều bạn thích về sản phẩm này"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="chose"> <i class="fa-solid fa-camera"></i> Ảnh minh họa</label>
                                                                    <input type="file" class="form-control-file" id="chose">
                                                                </div>
                                                                <div class="form-group text-end">
                                                                    <button type="submit" class="btn btn-secondary">Trở lại</button>
                                                                    <button type="submit" class="btn btn-primary">Hoàn thành</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                    }
                    <div class="col-12 d-flex">
                        @if (order.UpdatedAt != null)
                        {
                            <div class="col-3 mt-auto">
                                <div class="text-muted fs-6">Cập nhật vào lúc: @(((DateTime)(order.UpdatedAt)).ToString("hh:mm dd/MM/yyyy"))</div>
                            </div>
                        }
                        <div class="col-3 ms-auto">
                            <div class="col-12 d-flex justify-content-between">
                                <div>Voucher</div>
                                <div class="text-danger fw-bold">-@String.Format("{0:0,0}", order.Voucher.Value) đ</div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <div>Tổng số tiền</div>
                                <div class="text-danger fw-bold">@String.Format("{0:0,0}", order.Total - order.Voucher.Value) đ</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <script src="@("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")">
                var myModal = document.getElementById('myModal')
                var myInput = document.getElementById('myInput')
                myModal.addEventListener('shown.bs.modal', function () {
                myInput.focus()
                })
            </script>
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_3qzrm0wa.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay class="m-auto"></lottie-player>
            <h3 class="text-center">Không tìm thấy đơn hàng</h3>
        }
    </div>
</div>
