@using Models.DTO
@using PBL3.Models
@model List<Voucher>
@{
    PagingModel pagingData = ViewBag.pagingData as PagingModel;
    ViewBag.Title = "Voucher";
}
@section Styles {
    <link rel="stylesheet" href="~/public/css/Voucher.css">

}
<div class="container" style="max-width: 1040px;">
    <h1>Voucher</h1>
    <div class="row p-2 rounded m-auto border" style="max-width: 1030px; width: 100% ">
        @using (Html.BeginForm("Index", "Voucher", FormMethod.Get, new { @class = "row" }))
        {
            <div class="col-sm-8 d-flex p-0 align-items-center">
                <div class="col-sm-3">
                    <select class="form-select" name="Value" id="value_voucher">
                        <option value="All">Giá trị voucher</option>
                        <option value="100000">Dưới 100.000</option>
                        <option value="200000">Dưới 200.000</option>
                        <option value="300000">Dưới 300.000</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 p-0 d-flex align-items-center">
                <div class="input-group m-0">
                    <input type="text" class="form-control" id="keyword_search" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
                    <button class="btn btn-primary" type="submit" id="btn_search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @for (int i = 0; i < ((List<Voucher>)Model).Count; i++)
        {
            <div class="card ps-0">
                <section class="date">
                    <time datetime="" class="d-flex flex-column align-items-center">
                        <span style="font-size: 20px">@Model[i].EndDate.ToString("MMMM")</span>
                        <span style="font-size: 15px" class="mt-3">@Model[i].EndDate.ToString("dd")</span>
                    </time>
                </section>
                <section class="card-cont">
                    <h6>Số lượng voucher: @Model[i].Quantity</h6>
                    <h1>@Model[i].Seri</h1>
                    <div class="even-info">
                        <p>Giá trị voucher: @String.Format("{0:0,0}", Model[i].Value) đ</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;">Ngày bắt đầu: @Model[i].StartDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <a style="cursor:pointer" class="btn-danger" onclick="saveVoucher(this)" data-seri="@Model[i].Seri">Lưu</a>
                </section>
            </div>
        }
    </div>
    <div class="clearfix d-flex justify-content-center">
        @Html.Partial("_Pagination", pagingData)
    </div>
</div>
@section scripts{
    <script>
        window.addEventListener('load', (e) => {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            $('#keyword_search').val(params.keyword || '');
            $('#value_voucher').val(params.Value || 'All');
        });
        let saveVoucher = (e) => {
            navigator.clipboard.writeText(e.dataset.seri);
        }
    </script>
}