@using Models.DTO
@using Models.ViewModel
@model Product

@{
    ViewBag.Title = "Index";
    List<Comment> comments = ViewBag.Comments as List<Comment>;
    List<Rating> rates = ViewBag.Rates;
}
@section Styles {
    <link rel="stylesheet" href="~/public/css/ProductDetail.css">
}
<div class="container" style="width: 73.7em">
    <div class="row">
        <div class="col-md-6">
            <div class="width-image border">
                <img src="@Model.Image" alt="" style="width: 100%;object-fit:cover ">
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-dtl">
                <div class="product-info">
                    <div class="row">
                        <div class="product-name col-md-9">@Model.Name</div>
                        @if(Model.Stock == 0) {
                        <div class="product-state col-md-3 bg-danger text-white rounded p-1 text-center" style="width: 100px">Hết hàng</div>
                        }
                    </div>
                    
                    <div class="reviews-counter">
                        <div>

                            @if (ViewBag.AvgRating > 0 && ViewBag.AvgRating <= 1)
                            {
                                <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span>
                            }
                            else if (ViewBag.AvgRating > 1 && ViewBag.AvgRating <= 2)
                            {
                                <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span>
                            }
                            else if (ViewBag.AvgRating > 2 && ViewBag.AvgRating <= 3)
                            {
                                <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span>
                            }
                            else if (ViewBag.AvgRating > 3 && ViewBag.AvgRating <= 4)
                            {
                                <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span>
                            }
                            else if (ViewBag.AvgRating > 4 && ViewBag.AvgRating <= 5)
                            {
                                <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span>
                            }
                            else
                            {
                                <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span>
                            }
                        </div>
                        <p><span id="total_review">@comments.Count()</span> Reviews</p>
                    </div>
                    <div class="product-price-discount">
                        <span>@String.Format("{0:0,0}", Model.Price) đ</span>
                    </div>
                </div>

                <div class="Product_decription" style="padding: 10px 0px">
                    Mô tả sản phẩm
                </div>
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                     aria-labelledby="description-tab">
                    @Model.Description
                </div>

                <div class="information" style="padding: 15px 0;">
                    <div class="row product_mass" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Khối lượng</label>
                        <label class="col-md-8 spec" for="size">@Model.Mass</label>
                    </div>
                    <div class="row product_mass" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Số lượng sản phẩm</label>
                        <label class="col-md-8 spec" for="size">@Model.Stock</label>
                    </div>
                    <div class="row product_power" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Công suất</label>
                        <label class="col-md-8 spec" for="size">@Model.Power</label>
                    </div>
                    <div class="row product_producer" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Nhà sản suất</label>
                        <label class="col-md-8 spec" for="size">@Model.Producer</label>
                    </div>
                    <div class="row product_producerDate" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Ngày sản suất</label>
                        <label class="col-md-8 spec" for="size">@Model.ProducerDate.ToString("dd/MM/yyyy")</label>
                    </div>
                    <div class="row product_maintenanceTime" style="padding: 0 15px; margin-top: 15px">
                        <label class="col-md-4 name_spec" for="size">Thời gian bảo hành</label>
                        <label class="col-md-8 spec" for="size">@Model.MaintenanceTime</label>
                    </div>
                </div>
                @using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        @Html.HiddenFor(model => model.ID, new { @id = "productID" })
                        <div class="col-md-6">
                            <div class="product-count">
                                <label for="size">Số lượng</label>
                                <div class="d-flex p-1">
                                    <button id="qtyminus" class="qtyminus" type="button">-</button>
                                    <input type="text" name="quantity" value="1" min="1" id="qty" class="qty">
                                    <button id="qtyplus" class="qtyplus" type="button">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="round-black-btn col-md-4 margin_width" type="submit" id="btnSubmit">
                                <i class="fa-solid fa-cart-plus"></i>
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="comments">Đánh giá sản phẩm</div>

            <div class="row justify-content-center" >
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center mb-5">
                    <div class="card">
                        <div class="row justify-content-left d-flex">
                            <div class="col-md-4 d-flex flex-column" style="margin-top: 50px">
                                <div class="rating-box">
                                    <h1 class="pt-4" id="avg_rating">@ViewBag.AvgRating</h1>
                                    <p class="">out of 5</p>
                                </div>
                                <div>
                                    @if (ViewBag.AvgRating > 0 && ViewBag.AvgRating <= 1)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span>
                                    }
                                    else if (ViewBag.AvgRating > 1 && ViewBag.AvgRating <= 2)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span>
                                    }
                                    else if (ViewBag.AvgRating > 2 && ViewBag.AvgRating <= 3)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span>
                                    }
                                    else if (ViewBag.AvgRating > 3 && ViewBag.AvgRating <= 4)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span>
                                    }
                                    else if (ViewBag.AvgRating > 4 && ViewBag.AvgRating <= 5)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span> <span class="fa fa-star star-inactive"></span>
                                    }
                                </div>
                            </div>

          
                            <div class="col-md-8">
                                <div class="rating-bar justify-content-center">
                                    <table class="text-left mx-auto">
                                        <tr>
                                            <td class="rating-label" style="width: 50px">5 <i class="fa fa-star star-active"></i></td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" id="five_star_progress" style="width: @rates[4].percent%"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div
                                            </td>
                                            <td class="text-right"><span id="total_five_star_review">@rates[4].quantity</span></td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label" style="width: 50px">4 <i class="fa fa-star star-active mx-1"></i></td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" id="four_star_progress" style="width: @rates[3].percent%"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="total_four_star_review">@rates[3].quantity</span></td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label" style="width: 50px">3 <i class="fa fa-star star-active mx-1"></i></td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" id="three_star_progress" style="width: @rates[2].percent%"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="total_three_star_review">@rates[2].quantity</span></td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label" style="width: 50px">2 <i class="fa fa-star star-active mx-1"></i></td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" id="two_star_progress" style="width: @rates[1].percent%"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="total_two_star_review">@rates[1].quantity</span></td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label" style="width: 50px">1 <i class="fa fa-star star-active mx-1"></i></td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" id="one_star_progress" style="width: @rates[0].percent%"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="total_one_star_review">@rates[0].quantity</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center mb-5">
                    @foreach (Comment comment in comments)
                    {
                        <div class="card">
                            <div class="d-flex">
                                <div class="">
                                    <img class="profile-pic mt-3"
                                         src="@comment.User.Image">
                                </div>
                                <div class="d-flex flex-column" style="text-align: left; width: 100%">
                                    <h3 class="mt-2 mb-0 name_user">@comment.User.Name</h3>
                                    <div>
                                        <p class="text-left m-0">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= comment.Rate)
                                                {
                                                    <span class="fa fa-star star-active ml-3"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-star star-inactive"></span>
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div>
                                        <p class="content">@comment.Content</p>
                                    </div>
                                </div>
                                <div class="" style="text-align: right; width: 100px">
                                    <p class="text-muted pt-5 pt-sm-3">@comment.CreatedAt</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="position-fixed d-flex justify-content-end p-3" style="z-index: 11; top: 10%">
    <div id="notification_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa-solid fa-bell"></i>
            <strong class="me-auto ms-1">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
            <div class="toast-body text-white bg-success" id="toast_body">

            </div>
    </div>
</div>
@section scripts{
    <script src="~/public/js/ProductDetail.js"></script>
    <script>
        let showToast = (status, message) => {
            const toastBody = document.getElementById('toast_body');
            if (status) {
                if (toastBody.classList.contains('bg-danger')) toastBody.classList.remove('bg-danger');
                if (!toastBody.classList.contains('bg-success')) toastBody.classList.add('bg-success');
            } else {
                if (!toastBody.classList.contains('bg-danger')) toastBody.classList.add('bg-danger');
                if (toastBody.classList.contains('bg-success')) toastBody.classList.remove('bg-success');
            }
            toastBody.innerText = message;
            $("#notification_toast").toast('show');
        };

        document.querySelector("#btnSubmit").addEventListener('click', function (e) {
            e.preventDefault();
            let data = {
                productID: document.querySelector("#productID").value,
                quantity: document.querySelector("#qty").value
            };
            $.ajax({
                type: "POST",
                url: `/Cart/Add`,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    showToast(res.status, res.message);
                }
            })
        });

        const loadRating = (e) => {
            $.ajax({
                type: "POST",
                url: `/Product/Index`,
                data: JSON.stringify({
                    ID: $('#productID').val(),
                    Content: $('#content').val(),
                    Rate: $("#rating").val()
                }),
                dataType: 'json',
                success: function (res) { }
            })
        }

        
    </script>
}