@model List<Product>
@using Models.DTO
@using PBL3.Models
@{
    ViewBag.Title = "Shoponline";
    List<Product> products = ViewBag.products as List<Product>;
    List<Product> lastedProducts = ViewBag.lastedProduct as List<Product>;
    List<Category> categories = ViewBag.categories as List<Category>;
}

<div class="row m-auto" style="width: 77em">
    <div class="row p-2 rounded m-auto border" style="width: 73.7em">
        @using (Html.BeginForm("Search", "Product", FormMethod.Get, new {@class="row"}))
        {
            <div class="col-sm-8 d-flex p-0 align-items-center">
                <div class="col-sm-3">
                    <select class="form-select" name="Price" id="price_search">
                        <option value="All">Giá sản phẩm</option>
                        <option value="100000">Dưới 100.000</option>
                        <option value="1000000">Dưới 1.000.000</option>
                    </select>
                </div>
                <div class="col-sm-3 ms-3">
                    <select class="form-select" name="CategoryID">
                        <option value="All">Loại sản phẩm</option>
                        @foreach (Category category in categories)
                        {
                            <option value="@category.ID">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 ms-3">
                    <select class="form-select" id="price_search">
                        <option value="All">Sắp xếp</option>
                        <option value="100000">Tên sản phẩm</option>
                        <option value="1000000">Giá sản phẩm</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 p-0 d-flex align-items-center">
                <div class="input-group m-0">
                    <input type="text" class="form-control" id="keyword_search" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
                    <button class="btn btn-primary" type="submit" id="btn_search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        }
        </div>
    <div class="p-0 justify-content-md-center m-auto mt-3" style="display: inline-block;width: 73.7em">
        @foreach (Product product in Model)
        {
            <figure class="figure bg-white rounded m-1 p-0 product_hover border" style="width: 14rem">
                <a href="@Url.Action("Index", "Product", new { id = product.ID })">
                    <img src="@product.Image"
                         class="figure-img img-fluid rounded-top border-bottom"
                         style="width: 100%; height: 250px;object-fit: cover;">
                </a>
                <figcaption class="text-start p-2 m-0">
                    <a class="m-0 fw-bold text-dark text-decoration-none" href="" @Url.Action("Index", "Product", new { id = product.ID }) "">@product.Name</a>
                    <p class="m-0 text-danger">@product.Price đ</p>
                    <div class="m-0 d-flex justify-content-between align-items-center">
                        <div>
                            3.5
                            <i class="fa-solid fa-star checked" style="color: yellow"></i>
                        </div>
                        <div class="fs-6">
                            Đã bán 3.5k
                        </div>
                    </div>
                </figcaption>
            </figure>
        }
    </div>
    <div class="p-0 d-flex justify-content-center mt-3" style="width: 73.7em">
        @Html.Partial("_Pagination", ViewBag.pagingData as PagingModel)
    </div>
</div>

