@model List<Product>
@using Models.DTO
@using PBL3.Models
@{
    ViewBag.Title = "Tìm kiếm";
    List<Product> products = ViewBag.products as List<Product>;
    List<Product> lastedProducts = ViewBag.lastedProduct as List<Product>;
    List<Category> categories = ViewBag.categories as List<Category>;
}
@section Styles
{
    <style>
        .product_hover:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    </style>
}
<div class="row m-auto" style="width: 77em">
    <div class="row p-2 rounded m-auto border" style="width: 73.7em">
        @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @class = "row" }))
        {
            <div class="row">
                <div class="col-sm-9 row">
                    <div class="col-sm-3">
                        <label class="form-label">Loại sản phẩm</label>
                        <select class="form-select" name="CategoryID" id="category_search">
                            <option value="All">All</option>
                            @foreach (Category category in categories)
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-label align-items-center">Giá sản phẩm</label>
                        <div class="d-flex align-items-center">
                            <div class="col-6">
                                <input name="minValue" type="number" placeholder="Nhập giá thấp nhất" class="form-control col-3" id="minValue_search" />
                            </div>

                            <span class="p-2 fw-bold">-</span>
                            <div class="col-6">
                                <input name="maxValue" type="number" placeholder="Nhập giá cao nhất" class="form-control col-3" id="maxValue_search" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ms-3">
                        <label class="form-label">Tình trạng</label>
                        <select class="form-select" name="state" id="state_search">
                            <option value="">All</option>
                            <option value="true">Còn hàng</option>
                            <option value="false">Hết hàng</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 p-0 ms-auto">
                    <label class="form-label">Tìm kiếm</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="keyword_search" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
                        <button class="btn btn-primary" type="submit" id="btn_search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="p-0 justify-content-md-center m-auto mt-3" style="display: inline-block;width: 73.7em">
        @foreach (Product product in Model)
        {
            <figure class="figure bg-white rounded m-1 p-0 product_hover border" style="width: 14rem">
                <a href="@Url.Action("Index", "Product", new { id = product.ID })">
                    <img src="@product.Image"
                         class="figure-img img-fluid rounded-top border-bottom"
                         style="width: 100%; height: 250px;object-fit: cover;">
                </a>
                <figcaption class="text-start p-2 m-0">
                    <a class="m-0 fw-bold text-dark text-decoration-none" href="" @Url.Action("Index", "Product", new { id = product.ID }) "">@product.Name</a>
                    <p class="m-0 text-danger">@String.Format("{0:0,0}", product.Price) đ</p>
                    <div class="m-0 d-flex justify-content-between align-items-center">
                        @if (product.Stock > 0)
                        {
                            <div class="text-white bg-success rounded p-1">
                                Còn hàng
                            </div>
                        }
                        else
                        {
                            <div class="text-white bg-danger rounded p-1">
                                Hết hàng
                            </div>
                        }
                        <div class="fs-6">
                            Đã bán @product.Sold
                        </div>
                    </div>
                </figcaption>
            </figure>
        }
    </div>
    <div class="p-0 d-flex justify-content-center mt-3" style="width: 73.7em">
        @Html.Partial("_Pagination", ViewBag.pagingData as PagingModel)
    </div>
</div>

@section scripts
{
    <script>
        window.addEventListener('load', (e) => {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            const toast = document.getElementById('toast_body');
            $('#keyword_search').val(params.keyword || '');
            $('#state_search').val(params.state || '');
            $('#category_search').val(params.CategoryID || 'All');
            $('#minValue_search').val(params.minValue || 'All');
            $('#maxValue_search').val(params.maxValue || 'All');
            if (toast.innerText.trim() != '') $("#notification_toast").toast('show');
        })
    </script>
}
