@using EF.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header class="container-fluid p-3 d-flex justify-content-around align-items-center bg-white shadow">
        <div class="navbar-brand">
            @Html.ActionLink("Minishop", "Index", new { controller = "Home" }, new { @class = "text-decoration-none" })
        </div>
        <div class="d-flex">
            <input type="text" name="" class="rounded-start rounded-0 form-control">
            <button class="btn btn-primary rounded-0">Search</button>
        </div>
        <div class="navbar-nav p-1 d-sm-none d-flex">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" ">Category</a></li>
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("Đăng nhập", "Login", new { controller = "User" }, new { @class = "p-2 text-decoration-none dropdown-item" })</li>
                        <li>@Html.ActionLink("Đăng kí", "Register", new { controller = "User" }, new { @class = "p-2 text-decoration-none dropdown-item" })</li>
                    }
                    else
                    {
                        User user = Session["USER"] as User;
                        <li>@Html.ActionLink(user.Name, "Index", new { controller = "User" }, new { @class = "p-2 text-decoration-none dropdown-item" })</li>
                        <li>@Html.ActionLink("Đăng xuất", "Logout", new { controller = "User" }, new { @class = "p-2 text-decoration-none dropdown-item" })</li>
                    }
                </ul>
            </li>
        </div>
        <div class="d-none d-sm-flex">
            @Html.ActionLink("Trang chủ", "Index", "Home", new { @class = "p-2 text-decoration-none" })
            <a href="" class="p-2 text-decoration-none">Category</a>
            <a href="" class="p-2 text-decoration-none">Cart</a>
            @if (Session["User"] == null)
            {
                @Html.ActionLink("Đăng nhập", "Login", new { controller = "User" }, new { @class = "p-2 text-decoration-none" })
                @Html.ActionLink("Đăng kí", "Register", new { controller = "User" }, new { @class = "p-2 text-decoration-none" })
            }
            else
            {
                User user = Session["USER"] as User;
                @Html.ActionLink(user.Name, "Index", new { controller = "User" }, new { @class = "p-2 text-decoration-none" })
                @Html.ActionLink("Đăng xuất", "Logout", new { controller = "User" }, new { @class = "p-2 text-decoration-none" })
            }
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section bg-light">
        <div class="container">
            <hr>
            <div class="d-flex justify-content-around">
                <a href="" class="text-decoration-none">Test</a>
                <a href="" class="text-decoration-none">Test</a>
                <a href="" class="text-decoration-none">Test</a>
                <a href="" class="text-decoration-none">Test</a>
                <a href="" class="text-decoration-none">Test</a>
                <a href="" class="text-decoration-none">Test</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>