@using Models.DTO
@using PBL3.Models
@model List<CartProduct>
@{
    ViewBag.Title = "Giỏ hàng";
}
@section Styles
{
    <link rel="stylesheet" href="~/public/css/Cart.css">
    <link rel="stylesheet" href="~/public/uploads/products">
    <style>
        input:focus {
            outline: none !important;
            border-color: #719ECE;
        }
        input[type=checkbox] {
            transform: scale(2);
        }
    </style>
}
<div class="container" style="width: 73.7em">
    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Tổng tiền</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">
                        @using(Html.BeginForm("removeAll", "Cart",FormMethod.Post))
                        {
                            <button class="btn btn-danger" type="submit">Xóa tất cả</button>
                        }
                    </th>
                    <th class="text-center">
                        @using(Html.BeginForm("selectAll", "Cart", FormMethod.Post))
                        {
                            <button class="btn btn-success" type="submit">Chọn tất cả</button>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ((List<CartProduct>)Model).Count; i++)
                {
                <tr>
                    <td>
                        <div class="product-item">
                            <img src=@Model[i].Product.Image style="max-width: 150px">
                            <div class="product-info">
                                <h4 class="product-title">@Model[i].Product.Name</h4>
                            </div>
                        </div>
                    </td>
                    <td class="center">
                        <div class="input-group w-auto justify-content-center align-items-center">
                            <div class="minus input-group-prepend">
                                <button class="btn btn-dark btn-sm" data-productID="@Model[i].Product.ID" onclick="UpdateCartProduct(this, -1)"><i class="fas fa-minus"></i></button>
                            </div>
                            <input type="text" id="qty_input" class="text" value=@Model[i].Quantity readonly>
                            <div class="plus input-group-prepend">
                                <button class="btn btn-dark btn-sm" data-productID="@Model[i].Product.ID" onclick="UpdateCartProduct(this, 1)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium text-danger fw-bold">@String.Format("{0:0,0}", Model[i].Product.Price) đ</td>
                    <td class="text-center text-lg text-medium text-danger fw-bold">@String.Format("{0:0,0}", (Model[i].Quantity * Model[i].Product.Price))<span> đ</span></td>
                    @if(Model[i].Quantity > Model[i].Product.Stock)
                     {
                         <td class="text-center text-lg text-medium text-white fw-bold"><p class="bg-danger rounded" style="margin-top: 10px; padding: 10px 5px">Hết hàng</p></td>
                     }
                    else
                    {
                         <td class="text-center text-lg text-medium text-white fw-bold"><p class="bg-success rounded" style="margin-top: 10px; padding: 10px 5px">Còn hàng</p></td>
                    }
                    <td class="text-center">
                        <button type="button" class="btn bg-danger rounded ms-2" title="Xóa sản phẩm khỏi giỏ hàng" data-index="@i" data-id="@Model[i].ID" onclick="deleteHandler(this)">
                            <i class="fa-solid fa-trash-can" style="color: white"></i>
                        </button>
                    </td>

                    <td class="text-center">
                        @if (Model[i].isSelected)
                        {
                            <input type="checkbox" onclick="SelectProduct(this)" data-id="@Model[i].ID" checked />
                        }
                        else
                        {
                            <input type="checkbox" onclick="SelectProduct(this)" data-id="@Model[i].ID" />
                        }

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <div class="column text-lg">Tổng tiền: <span class="text-medium text-danger fw-bold" id="total">@String.Format("{0:0,0}", (int)ViewBag.Total) đ</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column">
        </div>
        <div class="column">
            <a class="btn btn-success" href="@Url.Action("Add", "Order")">Mua hàng</a>
        </div>
    </div>
</div>
<div class="position-fixed d-flex justify-content-end p-3" style="z-index: 11; top: 10%">
    <div id="notification_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa-solid fa-bell"></i>
            <strong class="me-auto ms-1">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        @if (TempData["Status"] != null)
        {
            if ((bool)TempData["Status"] == false)
            {
                <div class="toast-body text-white bg-danger" id="toast_body">
                    @TempData["Message"]
                </div>
            }
            else
            {
                <div class="toast-body text-white bg-success" id="toast_body">
                    @TempData["Message"]
                </div>
            }
        }
        else
        {
            <div class="toast-body text-white bg-success" id="toast_body">

            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/public/js/Cart.js"></script>
}