<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">

    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/css/aos.css">

    <link rel="stylesheet" href="/public/css/ionicons.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/public/css/flaticon.css">
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="goto-here">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex">
            @Html.ActionLink("Minishop", "Index", "Home", null, new { @class = "navbar-brand" });
            <div class="input-group justify-content-center">
                <input type="text" class="border-0 rounded-left p-2" placeholder="Type something" aria-label="Username" aria-describedby="addon-wrapping">
                <button class="btn btn-success rounded-0">Search</button>
            </div>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto d-flex justify-content-center align-items-center">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="shop.html">Shop</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="cart.html">Cart</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item d-flex align-items-center justify-content-center">
                        <a class="nav-link">
                            <span class="icon-shopping_cart"></span>
                        </a>
                        @if (Session["User"] == null)
                        {
                            @Html.ActionLink("Login", "Login", "User", null, new { @class = "rounded-0 nav-link" });
                            <span>|</span>
                            @Html.ActionLink("Register", "Register", "User", null, new { @class = "rounded-0 nav-link" });
                        }
                    </li>
                    @if (Session["User"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://avatars.mds.yandex.net/i?id=84dbd50839c3d640ebfc0de20994c30d-4473719-images-taas-consumers&n=27&h=480&w=480" class="img-fluid rounded-circle" style="width:40%;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    @Html.ActionLink("Tài khoản", "Index", "User", null, new { @class = "dropdown-item" });
                                </li>
                                <li>
                                    @Html.ActionLink("Đăng xuất", "Logout", "User", null, new { @class = "dropdown-item" });
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    
    @RenderBody()

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.easing.1.3.js"></script>
    <script src="/public/js/jquery.waypoints.min.js"></script>
    <script src="/public/js/jquery.stellar.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/aos.js"></script>
    <script src="/public/js/jquery.animateNumber.min.js"></script>
    <script src="/public/js/bootstrap-datepicker.js"></script>
    <script src="/public/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/public/js/google-map.js"></script>
    <script src="/public/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
