@using EF.Models;
@model Product
@{
    ViewBag.Title = "Product";
    List<Product> products = ViewBag.products;
    List<Category> categories = ViewBag.categories;
}

@section Styles
{
    <link rel="stylesheet" href="~/public/css/table.css" />
    <link rel="stylesheet" href="~/public/css/Add_Product.css" />
}

<div class="d-flex">
    <div class="btn m-0 btn-outline-none action_product action_product_click">
        <i class="fa-solid fa-list"></i>
        Danh sách sản phẩm
    </div>
    <div class="btn m-0 action_product">
        <i class="fa-solid fa-plus"></i>
        Thêm sản phẩm
    </div>
</div>
<div id="notification" class="mt-2">

</div>
<div class="table-responsive mt-3 shadow" id="list_product">
    <div class="table-wrapper">
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="show-entries">
                        <span>Show</span>
                        <select class="form-control">
                            <option>5</option>
                            <option>10</option>
                        </select>
                        <span>entries</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary"><img src="~/public/icon/search.svg" alt="My Happy SVG" /></button>
                    <div class="filter-group">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label>Location</label>
                        <select class="form-control">
                            <option>All</option>
                        </select>
                    </div>
                    <div class="filter-group">
                        <label>Status</label>
                        <select class="form-control">
                            <option>Any</option>
                        </select>
                    </div>
                    <span class="filter-icon"><img src="~/public/icon/filter.svg" alt="My Happy SVG" /></span>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Loại sản phẩm</th>
                    <th>Giá sản phẩm</th>
                    <th>Hàng tồn kho</th>
                    <th>Số lượng đã bán</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < products.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@products[i].Name</td>
                        <td>@products[i].Category.Name</td>
                        <td>@products[i].Price</td>
                        <td>@products[i].Stock</td>
                        <td>0</td>
                        <td class="d-flex">
                            <a href="#" class="btn bg-success rounded m-0" title="Xem chi tiết sản phẩm" data-toggle="tooltip">
                                <i class="fa-solid fa-eye" style="color: white"></i>
                            </a>
                            <a href="#" class="btn bg-primary rounded" title="Chỉnh sửa sản phẩm">
                                <i class="fa-solid fa-pen" style="color: white"></i>
                            </a>
                            @using (Html.BeginForm("Delete", "Product", new { area = "Admin" }, FormMethod.Post))
                            {
                                <input name="id" value="@products[i].ID" class="d-none" />
                                <button type="submit" class="btn bg-danger rounded" title="Xóa sản phẩm">
                                    <i class="fa-solid fa-trash-can" style="color: white"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item active"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "p-5 mt-3 bg-white shadow rounded d-none", @id = "add_form" }))
{
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 d-flex flex-column justify-content-start align-items-center">
                    <img src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg"
                         alt="" class="img-fluid rounded img-thumbnail" id="image">
                    <label class="custom-file-upload mt-3">
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @type = "file", @id = "inputImage", name = "image", @value = "/upload/user/Default.png" } })
                        Choose File
                    </label>
                    <div id="picture-err" class="form-text d-none" style="text-align: center;color: red">
                        Ảnh không hợp lệ
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên sản phẩm", @id = "name_product" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Loại sản phẩm</label>
                        <select class="form-select" name="CategoryID" id="CategoryID_product">
                            <option selected>--Chọn loại sản phẩm--</option>
                            @foreach (Category category in categories)
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập giá sản phẩm", @id = "price_product" } })
                            <span class="input-group-text">VNĐ</span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập mô tả sản phẩm", @style = "height: 31.7vh", @id = "description_product" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                @Html.LabelFor(model => model.Mass, htmlAttributes: new { @class = "form-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Mass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập khối lượng sản phẩm", @id = "mass_product" } })
                    <span class="input-group-text">kg</span>
                    @Html.ValidationMessageFor(model => model.Mass, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Power, htmlAttributes: new { @class = "form-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Power, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập công suất sản phẩm", @id = "power_product" } })
                    <span class="input-group-text">W</span>
                    @Html.ValidationMessageFor(model => model.Power, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số lượng sản phẩm", @id = "stock_product" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Producer, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập nhà sản xuất", @id = "producer_product" } })
                @Html.ValidationMessageFor(model => model.Producer, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.ProducerDate, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.ProducerDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "producerDate_product" } })
                @Html.ValidationMessageFor(model => model.ProducerDate, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.MaintenanceTime, htmlAttributes: new { @class = "form-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.MaintenanceTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập thời gian bảo hành", @id = "maintenanceTime_product" } })
                    <span class="input-group-text">Month</span>
                    @Html.ValidationMessageFor(model => model.MaintenanceTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary col-12 mt-3" id="submitBtn" type="submit">Thêm sản phẩm</button>
            </div>
        </div>
    </div>
}

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="notification_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa-solid fa-bell"></i>
            <strong class="me-auto ms-1">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white bg-success" id="toast_body">
            
        </div>
    </div>
</div>

@section scripts {
    <script src="~/public/js/Add_Product.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}